.formWrapper{
  min-width: 300px;
  max-width:500px;
  padding:30px;
  /* background-color:#a7d4ff; */
  margin:20px;
  border:1px solid #ccc;
  border-radius: 10px;
  /* box-shadow: 10px 10px 8px #888888; */
}

form{
  display:flex;
  flex-direction: column;
  color:rgb(70, 70, 70)
}

input:focus, textarea:focus{
  outline:none;
}
form input{
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 1.2em;
  padding:5px;
  
  border:none;
  
}


form input[type="submit"]{
  width:max-content;
  padding:8px 16px;
  background-color: rgb(238, 238, 238);
  /* border:1px solid rgb(241, 160, 39); */
  border-radius:5px;
}

.nav-link ul>li{
  text-decoration:none;
  display: inline-block;
  margin-left: 15px;
  
}

/* input[type="file"]{
  display:none;
} */

.file-upload {
  width:max-content;
  border: 1px solid rgb(240, 229, 229);
  background-color: rgb(238, 238, 238);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 1.1em;
}


