
body{
  /* display:grid; */
  /* justify-content: center; */
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  color: #363636;
  width:100%;
  margin:0;
  background-color: #8ECAE6;
  /* background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(244,244,244,1) 29%, rgba(73,194,255,1) 100%); */
  /* max-width: 1725px; */
  /* background-color: rgb(82, 82, 145); */
}

/* .app-wrapper{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
} */

.container {
  /* display:flex;
  align-content: center; */
  max-width:1500px;
  flex-direction: column;
  padding:0 15px;
}

/*------------------------------------------*/
/* Style The Dropdown Button */
.dropbtn {
  background-color: #6d6d6d;
  color: white;
  padding: 0 12px;
  width:80px;
  font-size: 2em;
  border: none;
  cursor: pointer;
  border:1px solid rgb(219, 219, 219);
  border-radius: 5px;
}

.dropdown {
  /* margin-top:20px; */
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #505050;
}

/*------------------------------------------*/

.dropdown{
  display:none;
}

.header { 
  display:grid;
  grid-auto-flow: column;
  align-content: center;
  /* justify-content: center; */
  /* font-family: 'Satisfy', cursive; */
  /* font-weight:700; */

  height:55px;
  padding:5px 15px;
  font-size:1.5em;
  width:100vw;
  background-color: black;    
}

.header > h2{
  color:rgb(182, 182, 182);   
}

.loginbtn{
  padding:6px 15px;
  margin:5px;
  font-size: 19px;
  border-radius: 52px;
  border:none;
}

#login{
  background-color: black;
  color:white;
}

nav > div{
  display:grid;
  grid-auto-flow: column;
  justify-content: end;
  align-content: center;
  font-size: x-large;
}

nav { grid-area: t3;
  display:grid;
  align-content: center;
  grid-auto-flow: column;
  font-weight: 400;
  /* min-width:840px; */

  padding:5px;    
}

.drop-nav li{
  background-color: gray;
}

.about{
padding:20px;
width:90%
}

.project-card{
   display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border:8px solid #8ECAE6;
  width:240px;
  height:300px;
  /* background-color: #90E0EF; */
  background-color: white;
  margin:10px;
  padding:12px;
  /* border-radius:6px; */
} 

.project-card:hover{
  box-shadow: 8px 10px 10px rgb(121, 121, 121);
  border-color:rgb(57, 128, 156);
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color:#383838; }

.t2 { grid-area: t2;
  text-align: center;
  background-color: #8ECAE6;
  color:white;
  font-size: 1.6em;
  /* height:55px; */
  padding:5px 15px;
  border-radius: 10px;
}


.description {
  display: grid;
  padding: 15px 15px 35px 15px;
  border-top:2px solid #DFE7FD;
  border-bottom:2px solid #DFE7FD;
  border-radius: 12px;
  margin-right: 15px;
  background-color: white;
}

.proj-links{
  padding:15px 20px;
  width:40%;
  min-width: 200px;
  text-align: right;
  /* border-top:2px solid #DFE7FD;
  border-bottom:2px solid #DFE7FD; */
  /* border-radius: 12px; */
  margin-right: 15px;
}

.proj-links > div{
      padding:10px 30px;
      /* min-width: 150px; */
  border-top:6px solid #DFE7FD;
  border-bottom:2px solid #DFE7FD;
  background-color: white;
  border-radius: 12px;
  /* background-color: olive; */
}

.details{
  display:flex;
  flex-direction: row;
}

.main {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  padding:15px 5px; 
  /* border-radius: 15px; */
  background-color:#E5E5E5;
  width:100%
  /* box-shadow: 5px 5px 5px #383838; */
}

.nav-link ul>a{
margin:6px;
}

.project-detail-card{
  width:100%;
  height:300px;
  background-color:white;
  margin:5px;
  padding:10px;
  border:8px solid rgb(226, 226, 226);
  /* border-radius: 12px; */
  box-shadow: 5px 5px 5px #aaaaaa;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 98%;               
  background-color:#90E0EF;
  height: 1px;
}

/* #update-form{
    display:block;
}

#update-form > input{ 
    border:1px solid blue;
    background-color: olive;
} */

ul{
  text-decoration: none;
}
/* ********************* MEDIA QUERRY ************************* */

@media screen and (max-width:500px){
  

  hr {
   display: none;
    }

  .header{
      background-color: black;
      /* font-family: 'Satisfy', cursive; */
      font-size:1.4em;    
  }
  
  .header > h2{
color: rgb(182, 182, 182);
  }

  .dropdown{
      display:block;
  }

  nav{
    min-width:85vw;
  }
  .nav-link{
      display:none;
  }
.main{
  background-color:rgb(233, 233, 233);
  width:100%;
  border-radius: 10px;
  box-shadow:none;
}
  /* .card-wrapper{
      display:flex;
      flex-wrap: wrap;
      align-content: space-between;
      padding:5px;
  } */
  
   .project-card{
      width:80vw;
      height:300px;
      background-color: white;
      margin:5px;
      padding:10px;
      border-radius:15px;
      /* box-shadow: 5px 5px 5px #aaaaaa; */
  }
  
  .project-detail-card{
      width:85vw;
      height:300px;
      background-color: #999999;
      margin:5px;
      padding:10px;
      border:1px solid white;
      /* border-radius:5px; */
      box-shadow: 5px 5px 5px #aaaaaa;
      border-radius: 12px;
  }
  .description {
      display: grid;
      padding: 15px 15px 35px 15px;
      border-top:2px solid #DFE7FD;
      border-bottom:2px solid #DFE7FD;
      border-radius: 12px;
      margin-right: 15px;
      background-color: white;
      background-size: 100%;
  }
  
  .proj-links{
      padding:15px 20px;
      width:40%;
      min-width: 200px;
      text-align: right;
      /* border-top:2px solid #DFE7FD;
      border-bottom:2px solid #DFE7FD; */
      /* border-radius: 12px; */
      margin-right: 15px;
  }
  
  .proj-links > div{
      padding:2px 30px 10px 30px;
      /* min-width: 150px; */
      border-top:6px solid #DFE7FD;
      border-bottom:2px solid #DFE7FD;
      background-color: white;
      /* border-radius: 12px; */
      /* background-color: olive; */
  }
  .details{
      display:flex;
      flex-direction: column;
  }

}